body{
    font-family: Arial, sans-serif;
}
h1{
    color:#696969;
    font-size:50px;
    border-bottom: 3px solid #b1e8f7;
}
h2{
    color:#ffffff;
    background-color:#b1e8f7;
    
}

h4{
  color:#696969;
}

p{
    color:#696969;
}

